<ul>

<li> Dates: <%= attributes.dates %>
</li>

<li> Title: <%= attributes.title %>
</li>

<li> Other designation: <%= attributes.other_designation %>
</li>

<li> Affiliation: <%= attributes.affiliation %>
</li>

<li> Country: <%= attributes.country %>
</li>

<li> Comment: <%= attributes.comment %>
</li>

</ul>

