<table class="newform">

<tr>
<td>Name</td>
<td><%= form.text_field :name, :size => 50 %><td>
</tr>

<tr>
<td>Dates</td>
<td><%= form.text_field :dates, :size => 25 %><td>
</tr>

<tr>
<td>Title</td>
<td><%= form.text_field :title, :size => 25 %><td>
</tr>

<tr>
<td>Other designation</td>
<td><%= form.text_field :other_designation, :size => 25  %><td>
</tr>

<tr>
<td>Affiliation</td>
<td><%= form.text_field :affiliation, :size => 25  %><td>
</tr>

<tr>
<td>Country</td>
<td><%= form.text_field :country, :size => 25  %><td>
</tr>

<tr>
<td>Comment</td>
<td><%= form.text_field :comment, :size => 25  %><td>
</tr>

</table>
