<% @pagetitle = "Edit Person: " + @person.name %>

<h1>Edit person: <%= @person.name %></h1>

<p>

<%= link_to 'Delete', @person, :confirm => 'Are you sure?', :method => :delete %>

</p>

<% form_for(@person) do |f| %>
<%= f.error_messages %>

<%= render(:partial => 'form', :object => f) %>

<p>
<%= f.submit "Update" %>
</p>
<% end %>

<%= link_to 'Show', @person %>
