<h1>Listing People</h1>

<table>
  <tr>
    <% for column in Person.content_columns %>
    <th><%=h column.name %></th>
    <% end %>
    <th></th> <th></th> <th></th> 
  </tr>

<% for person in @people %>
  <tr>
    <% for column in Person.content_columns %>
    <td><%=h person.send(column.name) %></td>
    <% end %>
    <td><%= link_to 'Show', person %></td>
    <td><%= link_to 'Edit', edit_person_path(person) %></td>
    <td><%= link_to 'Destroy', person, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New person', new_person_path %>
