<% @pagetitle = "Person: " + @person.anchor_text %>

<h1>Person: <%= @person.anchor_text %></h1>

<%= link_to 'Edit', edit_person_path(@person) %>

<%= render(:partial => 'attributes', :object => @person) %>

<h2>Subject of</h2>

<ul>

<% @person.aboutnesses.each do |abo| %>

<li> <%= link_to Work.find(abo.work_id).anchor_text, Work.find(abo.work_id) %>
</li>

<% end %>

</ul>


<%= render(:partial => 'layouts/group_ones', :object => @person) %>




