<ul>

  <% @work.reifications.each do |r| %>

  <% e=Expression.find(r.expression_id) %>

  <li><%= link_to e.anchor_text, e %>

    <ul> <% e.manifestations.each do |m| %>

      <li> <%= link_to m.anchor_text, m %> (<%= m.form_of_carrier %>)

	<ul>

	  <% m.exemplifications.each do |ex| %>
	  <% i = Item.find(ex.item_id) %>

	  <li> <%= link_to i.identifier, i %>
	    (<%= i.call_number %>)
	  </li>

	  <% end %>

	</ul>

      </li>

      <% end %>

    </ul>

  </li>

  <% end %>

</ul>

<ul id="outside">

  <li id="o_1"> Saskatchewan
    <ul id="inside_1">
      <li id="i_1"> Regina</li>
      <li id="i_2"> Saskatoon</li>
    </ul>
  </li>

  <li id="o_2"> Manitoba
    <ul id="inside_2">
      <li id="i_3"> Brandon</li>
      <li id="i_4"> Winnipeg</li>
    </ul>
  </li>

  <li id="o_3"> Ontario
    <ul id="inside_3">
      <li id="i_5"> Toronto</li>
      <li id="i_6"> Peterborough</li>
    </ul>
  </li>

  <li id="o_4"> Quebec
    <ul id="inside_4">
      <li id="i_7"> Montreal</li>
      <li id="i_8"> Sherbrooke</li>
    </ul>
  </li>

</ul>

<% containment = [:inside_1, :inside_2, :inside_3, :inside_4] %>

<%= sortable_element("inside_1",
    :tree => true, :dropOnEmpty => true,
    :containment => containment,
    :url => { :action => "order" })
%>

<%= sortable_element("inside_2",
    :tree => true, :dropOnEmpty => true,
    :containment => containment,
    :url => { :action => "order" })
%>

<%= sortable_element("inside_3",
    :tree => true, :dropOnEmpty => true,
    :containment => containment,
    :url => { :action => "order" })
%>

<%= sortable_element("inside_4",
    :tree => true, :dropOnEmpty => true,
    :containment => containment,
    :url => { :action => "order" })
%>
