<ul>

<% @work.reifications.each do |r| %>
<% e=Expression.find(r.expression_id) %>

<li> <%= link_to e.anchor_text, e %>

<ul> <% e.manifestations.each do |m| %>

<li> <%= link_to m.anchor_text, m %>
(<%= m.form_of_carrier %>)

<ul>

<% m.exemplifications.each do |ex| %>
<% i = Item.find(ex.item_id) %>

<li> <%= link_to i.identifier, i %>
(<%= i.call_number %>)
</li>

<% end %>

</ul>

</li>

<% end %>

</ul>

</li>

<% end %>

</ul>
