<% @pagetitle = "Edit Work: " + @work.title %>

<h1>Edit work: <%= @work.title %></h1>

<p>

TODO: Add way of editing creators.
<br />
TODO: Add way of editing related works and all other relations.

</p>

<p>

<%= link_to 'Delete', @work, :confirm => 'Are you sure?', :method => :delete %>

</p>


<% form_for(@work) do |f| %>
<%= f.error_messages %>

<%= render(:partial => 'form', :object => f) %>

<p>
<%= f.submit "Update" %>
</p>
<% end %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>
