<h1>Editing <%= @work.title %> (<%= @work.id %>)</h1>

<p>

TODO: Add way of editing creators.
<br />
TODO: Add way of editing related works and all other relations.

</p>


<% form_for(@work) do |f| %>
<%= f.error_messages %>

<%= render(:partial => 'form', :object => f) %>

<p>
<%= f.submit "Update" %>
</p>
<% end %>

<%= link_to 'Show', @work %> |
<%= link_to 'Back', works_path %>
