<% @pagetitle = "Work: " + @work.title %>

<h1>Work: <%= @work.title %></h1>

<p>

<%= link_to 'Edit', edit_work_path(@work) %> 
|
<%= link_to 'Delete', @work, :confirm => 'Are you sure?', :method => :delete %>

</p>

<h2>Creators</h2>

<%= render(:partial => 'layouts/group2entitylist', 
  :object => @work.creators) %>

<p>

Attributes:

</p>

<%= render(:partial => 'attributes', :object => @work) %>

<h2>Tree</h2>

<p>

render(:partial => 'tree', :object => @work)

</p>


<h2>Expressions</h2>

<p>

<%= link_to "Add expression for this work",
  :controller => "expressions",
  :action     => "new",
  :work_id    => @work.id %>

</p>

<ul>

<% @work.reifications.each do |r| %>
<% e=Expression.find(r.expression_id) %>

<li> <%= link_to e.title, e %> (<%= e.language %>, <%= e.form %>) (<%= r.relation %>)
</li>

<% end %>

</ul>

<h2>Subjects</h2>

<ul>

<% @work.subjects.each do |s| %>

<li> <%= link_to subject_name(s), s %> (<%= s.class %>)
</li>

<% end %>

</ul>
