<% @pagetitle = "Work: " + @work.title %>

<h1>Work: <%= @work.title %></h1>

<%= link_to 'Edit this work', edit_work_path(@work) %>

<p>

Created by:

</p>

<ul>

<%- @work.people.each do |p| %>

<li> <%= link_to "#{p.name}",
  :controller => "people",
  :action     => "show",
  :id         => p.id %>
</li>

<%- end %>

<% @work.corporate_bodies.each do |c| %>

<li> <%= link_to "#{c.name}",
  :controller => "corporate_bodies",
  :action     => "show",
  :id         => c.id %>
</li>

<% end %>

</ul>

<p>

Attributes:

</p>

<%= render(:partial => 'attributes', :object => @work) %>

<h2>Expressions</h2>

<p>

<%= link_to "Add expression for this work",
  :controller => "expressions",
  :action     => "new",
  :work_id    => @work.id %>

</p>

<ul>

<% @work.expressions.each do |expression| %>

<li> <%= link_to expression.title,
  :controller => "expressions",
  :action     => "show",
  :id         => expression.id %>
(<%= expression.language %>, <%= expression.form %>)
</li>

<% end %>

</ul>

<h2>Subjects</h2>

<p>

Concepts:

</p>

<ul>

<% @work.concepts.each do |c| %>

<li> <%= link_to "#{c.term}",
  :controller => "concepts",
  :action     => "show",
  :id         => c.id %>
</li>

<% end %>

</ul>

<p>

Events:

</p>

<ul>

<% @work.events.each do |e| %>

<li> <%= link_to "#{e.term}",
  :controller => "events",
  :action     => "show",
  :id         => e.id %>
</li>

<% end %>

</ul>

<p>

Objects:

</p>

<ul>

<% @work.frbr_objects.each do |o| %>

<li> <%= link_to "#{o.term}",
  :controller => "frbr_objects",
  :action     => "show",
  :id         => o.id %>
</li>

<% end %>

</ul>

<p>

Places:

</p>

<ul>

<% @work.places.each do |p| %>

<li> <%= link_to "#{p.term}",
  :controller => "places",
  :action     => "show",
  :id         => p.id %>
</li>

<% end %>

</ul>

