<ul>

<li> Dates: <%= attributes.dates %>
</li>

<li> Type: <%= attributes.family_type %>
</li>

<li> Places: <%= attributes.places %>
</li>

<li> History: <%= attributes.history %>
</li>

<li> Comment: <%= attributes.comment %>
</li>

</ul>
