<table class="newform">

<tr>
<td>Name</td>
<td><%= form.text_field :name, :size => 50 %><td>
</tr>

<tr>
<td>Family type</td>
<td><%= form.text_field :family_type, :size => 25 %><td>
</tr>

<tr>
<td>Dates</td>
<td><%= form.text_field :dates, :size => 25 %><td>
</tr>

<tr>
<td>Places</td>
<td><%= form.text_field :places, :size => 25 %><td>
</tr>

<tr>
<td>History</td>
<td><%= form.text_field :history, :size => 25  %><td>
</tr>

<tr>
<td>Comment</td>
<td><%= form.text_field :comment, :size => 25  %><td>
</tr>

</table>
