<% @pagetitle = "Families" %>

<h1>Families</h1>

<dl>

<% for family in @families %>
<dt> <%= link_to family.name, family %>
(<%= link_to 'Show', family %>
<%= link_to 'Edit', edit_family_path(family) %>
<%= link_to 'Destroy', family, :confirm => 'Are you sure?', :method => :delete %>)
</dt>
<dd> 
Dates: <%= family.dates %>
<br />
Type: <%= family.family_type %>
<br />
Places: <%= family.places %>
<br />
History: <%= family.history %>
<br />
Comment: <%= family.comment %>
</dd>
<% end %>

</dl>

<%= link_to 'New family', new_family_path %>
