<h1>Listing Families</h1>

<table>
 <tr>
    <% for column in Family.content_columns %>
    <th><%=h column.name %></th>
    <% end %>
    <th></th> <th></th> <th></th> 
  </tr>


<% for family in @families %>
  <tr>
   <% for column in Family.content_columns %>
    <td><%=h family.send(column.name) %></td>
    <% end %>
    <td><%= link_to 'Show', family %></td>
    <td><%= link_to 'Edit', edit_family_path(family) %></td>
    <td><%= link_to 'Destroy', family, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New family', new_family_path %>
