<table class="newform">

<tr>
<td>Title</td>
<td><%= form.text_field :title, :size => 50 %><td>
</tr>

<tr>
<td>Language</td>
<td><%= form.text_field :language, :size => 25 %><td>
</tr>

<tr>
<td>Form</td>
<td><%= form.text_field :form, :size => 25 %><td>
</tr>

<tr>
<td>Date</td>
<td><%= form.text_field :date, :size => 10 %><td>
</tr>

<tr>
<td>Comment</td>
<td><%= form.text_field :comment, :size => 50  %><td>
</tr>

</table>
