<% @pagetitle = "Add a new expression" %>

<h1>Add a new expression</h1>

<p>

Work: <%= Work.find(params[:work_id]).title %>

</p>

<% form_for(@expression) do |f| %>
<%= f.error_messages %>

<p>

Realizer:

<%= render(:partial => 'layouts/group2_entity_pick') %>

</p>

<p>

Relation: <%= text_field_tag "realization" %>

</p>

<%= render(:partial => 'form', :object => f) %>

<%= hidden_field_tag ('work_id', params[:work_id]) %>

<p>
<%= f.submit "Create" %>
</p>
<% end %>

<%= link_to 'Back', expressions_path %>
