<% @pagetitle = "Add a new expression" %>

<h1>Add a new expression</h1>

<p>

<% @work = Work.find(params[:work_id]) %>

Adding a new expression to the work
<%= link_to @work.anchor_text, @work %>

</p>

<% form_for(@expression) do |f| %>

<%= f.error_messages %>

<p>

Realizer:

<%= render(:partial => 'layouts/group2_entity_pick') %>

</p>

<p>

Relation: <%= text_field_tag "relation" %>

</p>

<%= render(:partial => 'form', :object => f) %>

<%= hidden_field_tag ('work_id', params[:work_id]) %>

<p>
<%= f.submit "Create" %>
</p>

<% end %>
