<% @pagetitle = "Expression:" + @expression.anchor_text %>

<p>

Work: <%= link_to "#{@expression.reification.work.anchor_text}",  @expression.reification.work %>

</p>

<p>

Work-to-expression relation: <%= @expression.reification.relation %>

</p>


<hr />

<h1>Expression: <%= @expression.anchor_text %></h1>

<p>

<%= link_to 'Edit', edit_expression_path(@expression) %>
|
<%= link_to 'Delete', @expression, :confirm => 'Are you sure?', :method => :delete %>

</p>

<h2>Realizers</h2>

<%= render(:partial => 'layouts/group2entitylist',
  :object => @expression.realizers) %>

<p>

Attributes

</p>

<%= render(:partial => 'attributes', :object => @expression) %>

<h2>Manifestations</h2>

<p>

<%= link_to "Add manifestation for this expression",
    new_manifestation_path(:expression_id => @expression.id) %>

</p>

<ul>

<% @expression.embodiments.each do |e| %>
<% m=Manifestation.find(e.manifestation_id) %>
<li> <%= link_to m.anchor_text, m %> (<%= e.relation %>)
</li>

<% end %>

</ul>

