<% @pagetitle = "Expression: #{@expression.title} (#{@expression.language}, #{@expression.form})" %>

<!-- Expression -->

<p>

Work: 
<%= link_to "#{@expression.work.title}",
  :controller => "works",
  :action     => "show",
  :id         => @expression.work.id %>

</p>

<h1>Expression: <%= @expression.title %></h1>

<p>

Realized by:

<ul>

<% @expression.people.each do |p| %>

<li> <%= link_to "#{p.name}",
                 :controller => "people",
                 :action     => "show",
                 :id         => p.id %>
</li>

<% end %>

<% @expression.corporate_bodies.each do |c| %>

<li> <%= link_to "#{c.name}",
                 :controller => "corporate_bodies",
                 :action     => "show",
                 :id         => c.id %>
</li>

<% end %>

</ul>

<p>

Attributes

</p>

<%= render(:partial => 'attributes', :object => @expression) %>

<h2>Manifestations</h2>

<p>

<%= link_to "Add manifestation for this expression",
  :controller => "manifestations",
  :action     => "new",
  :expression_id    => @expression.id %>

</p>

<ul>

<% @expression.manifestations.each do |manifestation| %>

<li> <%= link_to manifestation.title,
   :controller => "manifestations",
   :action     => "show",
   :id         => manifestation.id %>
(<%= manifestation.form_of_carrier %>, <%= manifestation.identifier %>)
</li>

<% end %>

</ul>


<%= link_to 'Edit', edit_expression_path(@expression) %> |
<%= link_to 'Back', expressions_path %>
