<% @pagetitle = "Expression: #{@expression.title} (#{@expression.language}, #{@expression.form})" %>

<p>

TODO: Show work here.

</p>

<h1>Expression: <%= @expression.title %></h1>

<p>

<%= link_to 'Edit', edit_expression_path(@expression) %> 
|
<%= link_to 'Delete', @expression, :confirm => 'Are you sure?', :method => :delete %>

</p>

<h2>Realizers</h2>

<%= render(:partial => 'layouts/group2entitylist', 
  :object => @expression.realizers) %>

<p>

Attributes

</p>

<%= render(:partial => 'attributes', :object => @expression) %>

<h2>Manifestations</h2>

<p>

<%= link_to "Add manifestation for this expression",
  :controller => "manifestations",
  :action     => "new",
  :expression_id    => @expression.id %>

</p>

<ul>

<% @expression.manifestations.each do |manifestation| %>

<li> <%= link_to manifestation.title,
   :controller => "manifestations",
   :action     => "show",
   :id         => manifestation.id %>
(<%= manifestation.form_of_carrier %>, <%= manifestation.identifier %>)
</li>

<% end %>

</ul>
