<% @pagetitle = "Expression:" + @expression.anchor_text %>

<p>

TODO: Make this an array of all works reified herein.

</p>

<p>

Work: <%= link_to "#{@expression.work.anchor_text}",  @expression.work %>

</p>

<p>


</p>

<p>

<% list = Work.all.collect {|w| [w.id, w.anchor_text]}.to_json %> 

<span id="expression_reifications_<%= @expression.id %>_in_place_editor"><%= @expression.work.anchor_text %></span>

<%= in_place_editor_select_field :expression, 'reifications', {}, {:collection => list} 
%>

</p>

<h1>Expression: <%= @expression.anchor_text %></h1>

<p>

<%= link_to 'Edit', edit_expression_path(@expression) %> 
|
<%= link_to 'Delete', @expression, :confirm => 'Are you sure?', :method => :delete %>

</p>

<h2>Realizers</h2>

<%= render(:partial => 'layouts/group2entitylist', 
  :object => @expression.realizers) %>

<p>

Attributes

</p>

<%= render(:partial => 'attributes', :object => @expression) %>

<h2>Manifestations</h2>

<p>

<%= link_to "Add manifestation for this expression", 
    new_manifestation_path(:expression_id => @expression.id) %>

</p>

<ul>

<% @expression.manifestations.each do |m| %>

<li> <%= link_to m.anchor_text, m %>
</li>

<% end %>

</ul>
