<ul>

<li> Title: <%= attributes.title %>
</li>

<li> Statement of responsibility: <%= attributes.statement_of_responsibility %>
</li>

<li> Edition: <%= attributes.edition %>
</li>

<li> Identifier: <%= attributes.identifier %>
</li>

<li> Form of carrier: <%= attributes.form_of_carrier %>
</li>

<li> Publisher: <%= attributes.publisher %>
</li>

<li> Publication date: <%= attributes.publication_date %>
</li>

<li> Publication place: <%= attributes.publication_place %>
</li>

<li> Series statement: <%= attributes.series_statement %>
</li>

<li> Comment: <%= attributes.comment %>
</li>

</ul>
