<table class="newform">

<tr>
<td>Title</td>
<td><%= form.text_field :title, :size => 50 %><td>
</tr>

<tr>
<td>Statement of responsibility</td>
<td><%= form.text_field :statement_of_responsibility, :size => 50 %><td>
</tr>

<tr>
<td>Edition</td>
<td><%= form.text_field :edition, :size => 10 %><td>
</tr>


<tr>
<td>Identifier</td>
<td><%= form.text_field :identifier, :size => 25 %><td>
</tr>

<tr>
<td>Form of carrier</td>
<td><%= form.text_field :form_of_carrier, :size => 25 %><td>
</tr>

<tr>
<td>Publisher</td>
<td><%= form.text_field :publisher, :size => 25 %><td>
</tr>

<tr>
<td>Publication date</td>
<td><%= form.text_field :publication_date, :size => 10 %><td>
</tr>

<tr>
<td>Publication place</td>
<td><%= form.text_field :publication_place, :size => 25 %><td>
</tr>

<tr>
<td>Series statement</td>
<td><%= form.text_field :series_statement, :size => 25  %><td>
</tr>

<tr>
<td>Comment</td>
<td><%= form.text_field :comment, :size => 50  %><td>
</tr>

</table>
