<% @pagetitle = "Manifestations" %>

<h1>Manifestations</h1>

<% for manifestation in @manifestations %>

<div class="indexlist">

<h2><%= link_to manifestation.title, manifestation%> (<%= manifestation.publication_date %>)</h2>

<p>

<%= pluralize(manifestation.items.size, "item") %>.

</p>

<p>

Produced by:

</p>

<%= render(:partial => 'layouts/group2entitylist', 
  :object => manifestation.producers) %>

<%= render(:partial => 'attributes', :object => manifestation) %>

</div>

<% end %>

</dl>

<%= link_to 'New manifestation', new_manifestation_path %>
