<% @pagetitle = "Add a new manifestation" %>

<h1>Add a manifestation</h1>

<p>

Work:
<%= Expression.find(params[:expression_id]).work.anchor_text %>
<br />
Expression: <%= Expression.find(params[:expression_id]).anchor_text %>

</p>


<% form_for(@manifestation) do |f| %>
<%= f.error_messages %>

<p>

Producer:

<%= render(:partial => 'layouts/group2_entity_pick') %>

</p>

<%= render(:partial => 'form', :object => f) %>

<%= hidden_field (:manifestation, :expression_id, :value => params[:expression_id]) %>

<p>
<%= f.submit "Create" %>
</p>
<% end %>

<%= link_to 'Back', manifestations_path %>
