<% @pagetitle = "Manifestation: #{@manifestation.title} (#{@manifestation.form_of_carrier}, #{@manifestation.identifier})" %>

<p>

Work: 
<%= link_to "#{@manifestation.expression.work.title}",
  :controller => "works",
  :action     => "show",
  :id         => @manifestation.expression.work.id %>
                 
</p>

<p>
 
Expression: 
<%= link_to "#{@manifestation.expression.title}",
  :controller => "expressions",
  :action     => "show",
  :id         => @manifestation.expression.id %>
(<%= @manifestation.expression.language %>, <%= @manifestation.expression.form %>)

</p>

<h1>Manifestation: <%= @manifestation.title %></h1>

<p>

Produced by:

<%= @manifestation.people.map {|person|
link_to "#{person.name}",
                 :controller => "people",
                 :action     => "show",
                 :id         => person.id
}.join ", " %>

<%= @manifestation.corporate_bodies.map {|c|
link_to "#{c.name}",
                 :controller => "corporate_bodies",
                 :action     => "show",
                 :id         => c.id
}.join ", " %>

</p>

<%= render(:partial => 'attributes', :object => @manifestation) %>


<h2>Items</h2>

<p>

<%= link_to "Add item for this work",
  :controller => "items",
  :action     => "new",
  :manifestation_id    => @manifestation.id %>

</p>

<ul>

<% @manifestation.items.each do |item| %>

<li> <%= link_to "#{item.identifier}",
                 :controller => "items",
                 :action     => "show",
                 :id         => item.id %>
(<%= item.call_number %>)
</li>

<% end %>

</ul>


<%= link_to 'Edit', edit_manifestation_path(@manifestation) %> |
<%= link_to 'Back', manifestations_path %>
