<% @pagetitle = "Manifestation: " + @manifestation.anchor_text %>

<p>

<%= pluralize_without_count @manifestation.embodiments.count, "Expression" %>:

</p>

<ul>

<% @manifestation.embodiments.each do |e| %>
<% expression=Expression.find(e.expression_id) %>
<li> <%= link_to expression.anchor_text, expression %>
(<%= e.relation %>)
<br />
(Work: <%= link_to expression.reification.work.anchor_text, expression.reification.work %>)
</li>

<% end %>

</ul>

<h1>Manifestation: <%= @manifestation.anchor_text %></h1>

<p>

<%= link_to 'Edit', edit_manifestation_path(@manifestation) %>
|
<%= link_to 'Delete', @manifestation, :confirm => 'Are you sure?', :method => :delete %>

</p>

<h2><%= pluralize_without_count @manifestation.producers.count, "Producer" %></h2>

<%= render(:partial => 'layouts/group2entitylist',
  :object => @manifestation.producers) %>

<p>

Attributes

</p>

<%= render(:partial => 'attributes', :object => @manifestation) %>

<h2>Items</h2>

<p>

<%= link_to "Add item for this manifestation",
    new_item_path(:manifestation_id => @manifestation.id) %>

</p>

<ul>

<% @manifestation.exemplifications.each do |ex| %>

<li> <%= link_to ex.item.anchor_text, ex.item %>
</li>

<% end %>

</ul>
