<!-- Manifestation -->

<p>

Work: 
<cite><%= link_to "#{@manifestation.expression.work.title}",
                 :controller => "works",
                 :action     => "show",
                 :id         => @manifestation.expression.work.id %></cite>
                 
</p>

<p>
 
Expression: 
<%= link_to "#{@manifestation.expression.language}, #{@manifestation.expression.form}",
                 :controller => "expressions",
                 :action     => "show",
                 :id         => @manifestation.expression.id %>

</p>

<h2>Manifestation: <cite><%= @manifestation.title %></h2>

<p>

Produced by:

<%= @manifestation.people.map {|person|
link_to "#{person.name}",
                 :controller => "people",
                 :action     => "show",
                 :id         => person.id
}.join ", " %>

<%= @manifestation.corporate_bodies.map {|c|
link_to "#{c.name}",
                 :controller => "corporate_bodies",
                 :action     => "show",
                 :id         => c.id
}.join ", " %>

</p>

<ul>

<li> Statement of responsibility: <%= @manifestation.statement_of_responsibility %>
</li>

<li> Edition: <%= @manifestation.edition %>
</li>

<li> Identifier: <%= @manifestation.identifier %>
</li>

<li> Form of carrier: <%= @manifestation.form_of_carrier %>
</li>

<li> Publisher: <%= @manifestation.publisher %>
</li>

<li> Publication date: <%= @manifestation.publication_date %>
</li>

<li> Publication place: <%= @manifestation.publication_place %>
</li>

<li> Series statement: <%= @manifestation.series_statement %>
</li>

<li> Comment: <%= @manifestation.comment %>
</li>

</ul>

<h2>Items</h2>

<p>

<%= link_to "Add item for this work",
  :controller => "items",
  :action     => "new",
  :manifestation_id    => @manifestation.id %>

</p>

<ul>

<% @manifestation.items.each do |item| %>

<li> <%= link_to "#{item.identifier}",
                 :controller => "items",
                 :action     => "show",
                 :id         => item.id %>
(<%= item.call_number %>)
</li>

<% end %>

</ul>


<%= link_to 'Edit', edit_manifestation_path(@manifestation) %> |
<%= link_to 'Back', manifestations_path %>
