<% @pagetitle = "Edit Concept: " + @concept.term %>

<h1>Edit concept: <%= @concept.term %></h1>

<p>

<%= link_to 'Delete', @concept, :confirm => 'Are you sure?', :method => :delete %>

</p>

<% form_for(@concept) do |f| %>
<%= f.error_messages %>

<%= render(:partial => 'form', :object => f) %>

<p>
<%= f.submit "Update" %>
</p>
<% end %>

<%= link_to 'Show', @concept %>

