<% @pagetitle = "Concepts" %>

<h1>Concepts</h1>

<dl>

<% for concept in @concepts %>
<dt> <%= link_to concept.term, concept %>
(<%= link_to 'Show', concept %>
<%= link_to 'Edit', edit_concept_path(concept) %>
<%= link_to 'Destroy', concept, :confirm => 'Are you sure?', :method => :delete %>)
</dt>
<dd> 
Comment: <%= concept.comment %>
</dd>
<% end %>

</dl>

<%= link_to 'New concept', new_concept_path %>
