<% @pagetitle = "Items" %>

<h1>Items</h1>

<dl>

<% for item in @items %>
<dt> <%= link_to "<cite>#{item.manifestation.title}</cite>", item %> (<%= item.identifier %>)
(<%= link_to 'Show', item %>
<%= link_to 'Edit', edit_item_path(item) %>
<%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %>)
</dt>
<dd> 
Call number: <%= item.call_number %>
<br />
Identifer: <%= item.identifier %>
<br />
Provenance: <%= item.provenance %>
</dd>
<% end %>

</dl>

<%= link_to 'New item', new_item_path %>
