<% @pagetitle = "Add a new item" %>

<h1>Add a new item</h1>

<% @m = Manifestation.find(params[:manifestation_id]) %>

<p>

Manifestation: <%= link_to @m.anchor_text, @m %>

</p>

<p>

<%= pluralize_without_count @m.embodiments.count, "Embodiment" %>:

</p>

<ul>

<% @m.embodiments.each do |emb| %>

<% @e = Expression.find(emb.expression_id) %>

<li> <%= link_to @e.anchor_text, @e %>
<br />
(Work: <%= link_to @e.reification.work.anchor_text, @e.reification.work %>)
</li>

<% end %>

</ul>

<% form_for(@item) do |f| %>
<%= f.error_messages %>

<p>

Owner:

<%= render(:partial => 'layouts/group2_entity_pick') %>

</p>

<p>

Relation: <%= text_field_tag "relation" %>

</p>

<%= render(:partial => 'form', :object => f) %>

<%= hidden_field_tag ('manifestation_id', params[:manifestation_id]) %>

<p>
<%= f.submit "Create" %>
</p>
<% end %>
