<% @pagetitle = "Add a new item" %>

<h1>Add a new item</h1>

<p>

<% m = Manifestation.find(params[:manifestation_id]) %>

Work:
<%= link_to Expression.find(m.expression_id).work.anchor_text, Expression.find(m.expression_id).work %>
<br />
Expression:
<%= link_to Expression.find(m.expression_id).anchor_text, Expression.find(m.expression_id) %>
<br />
Manifestation:  
<%= link_to m.anchor_text, m %>

</p>

<% form_for(@item) do |f| %>
<%= f.error_messages %>

<p>

Owner:

<%= render(:partial => 'layouts/group2_entity_pick') %>

</p>

<%= render(:partial => 'form', :object => f) %>

<%= hidden_field (:item, :manifestation_id, :value => params[:manifestation_id]) %>

<p>
<%= f.submit "Create" %>
</p>
<% end %>
