<% @pagetitle = "Item: #{@item.manifestation.title} (#{@item.identifier})" %>

<p>

Work: 
<%= link_to "#{@item.manifestation.expression.work.title}",
  :controller => "works",
  :action     => "show",
  :id         => @item.manifestation.expression.work.id 
%>

</p>

<p>

Expression: 
<%= link_to "#{@item.manifestation.expression.title}",
  :controller => "expressions",
  :action     => "show",
  :id         => @item.manifestation.expression.id %>
(<%= @item.manifestation.expression.language %>, <%= @item.manifestation.expression.form %>)

</p>

<p>

Manifestation: 
<%= link_to "#{@item.manifestation.title}",
  :controller => "manifestations",
  :action     => "show",
  :id         => @item.manifestation.id %>
(<%= @item.manifestation.form_of_carrier %>, 
<%= @item.manifestation.identifier %>)

</p>

<h1><%= @item.identifier %></h1>

<p>

<%= link_to 'Edit', edit_item_path(@item) %> 
|
<%= link_to 'Delete', @item, :confirm => 'Are you sure?', :method => :delete %>

</p>


<h2>Owners</h2>

<%= render(:partial => 'layouts/group2entitylist', 
  :object => @item.owners) %>

<p>

Attributes

</p>

<%= render(:partial => 'attributes', :object => @item) %>
