<% @pagetitle = "Item: " + @item.anchor_text %>

<p>

<%= pluralize_without_count @item.manifestation.embodiments.count, "Expression" %>:

</p>

<ul>

<% @item.manifestation.embodiments.each do |e| %>
<% expression=Expression.find(e.expression_id) %>
<li> <%= link_to expression.anchor_text, expression %>
(<%= e.relation %>)
<br />
(Work: <%= link_to expression.reification.work.anchor_text, expression.reification.work %>)
</li>

<% end %>

</ul>

<p>

Manifestation:

</p>

<ul>

<li>  <%= link_to @item.manifestation.anchor_text, @item.manifestation %>
</li>

</ul>

<h1><%= @item.anchor_text %></h1>

<p>

<%= link_to 'Edit', edit_item_path(@item) %>
|
<%= link_to 'Delete', @item, :confirm => 'Are you sure?', :method => :delete %>

</p>


<h2>Owners</h2>

<%= render(:partial => 'layouts/group2entitylist',
  :object => @item.owners) %>

<p>

Attributes

</p>

<%= render(:partial => 'attributes', :object => @item) %>
