<% @pagetitle = "Item: #{@item.manifestation.title} (#{@item.identifier})s" %>

<p>

Work: 
<%= link_to "#{@item.manifestation.expression.work.title}",
  :controller => "works",
  :action     => "show",
  :id         => @item.manifestation.expression.work.id 
%>

</p>

<p>

Expression: 
<%= link_to "#{@item.manifestation.expression.title}",
  :controller => "expressions",
  :action     => "show",
  :id         => @item.manifestation.expression.id %>
(<%= @item.manifestation.expression.language %>, <%= @item.manifestation.expression.form %>)

</p>

<p>

Manifestation: 
<%= link_to "#{@item.manifestation.title}",
  :controller => "manifestations",
  :action     => "show",
  :id         => @item.manifestation.id %>
(<%= @item.manifestation.form_of_carrier %>, 
<%= @item.manifestation.identifier %>)

</p>

<h1><%= @item.identifier %></h1>

<p>

Owned by:

<%= @item.people.map {|person|
link_to "#{person.name}",
                 :controller => "people",
                 :action     => "show",
                 :id         => person.id
}.join ", " %>

<%= @item.corporate_bodies.map {|c|
link_to "#{c.name}",
                 :controller => "corporate_bodies",
                 :action     => "show",
                 :id         => c.id
}.join ", " %>

</p>

<%= render(:partial => 'attributes', :object => @item) %>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
