<table class="newform">

<tr>
<td>Name</td>
<td><%= form.text_field :name, :size => 50 %><td>
</tr>

<tr>
<td>Dates</td>
<td><%= form.text_field :dates, :size => 25 %><td>
</tr>

<tr>
<td>Other designaton</td>
<td><%= form.text_field :other_designation, :size => 25 %><td>
</tr>

<tr>
<td>Place</td>
<td><%= form.text_field :place, :size => 25  %><td>
</tr>

<tr>
<td>Comment</td>
<td><%= form.text_field :comment, :size => 25  %><td>
</tr>

</table>
