<% @pagetitle = "Edit Object: " + @frbr_object.term %>

<h1>Edit object: <%= @frbr_object.term %></h1>

<p>

<%= link_to 'Delete', @frbr_object, :confirm => 'Are you sure?', :method => :delete %>

</p>

<% form_for(@frbr_object) do |f| %>
<%= f.error_messages %>

<%= render(:partial => 'form', :object => f) %>

<p>
<%= f.submit "Update" %>
</p>
<% end %>

<%= link_to 'Show', @frbr_object %> 
