<% @pagetitle = "Objects" %>

<h1>Objects</h1>

<dl>

<% for frbr_object in @frbr_objects %>
<dt> <%= link_to frbr_object.term, frbr_object %>
(<%= link_to 'Show', frbr_object %>
<%= link_to 'Edit', edit_frbr_object_path(frbr_object) %>
<%= link_to 'Destroy', frbr_object, :confirm => 'Are you sure?', :method => :delete %>)
</dt>
<dd> 
Comment: <%= frbr_object.comment %>
</dd>
<% end %>

</dl>

<%= link_to 'New frbr_object', new_frbr_object_path %>
