<% @pagetitle = "Edit Place: " + @place.term %>

<h1>Edit place: <%= @place.term %></h1>

<p>

<%= link_to 'Delete', @place, :confirm => 'Are you sure?', :method => :delete %>

</p>

<% form_for(@place) do |f| %>
<%= f.error_messages %>

<%= render(:partial => 'form', :object => f) %>

<p>
<%= f.submit "Update" %>
</p>
<% end %>

<%= link_to 'Show', @place %>
