<% @pagetitle = "Places" %>

<h1>Places</h1>

<dl>

<% for place in @places %>
<dt> <%= link_to place.term, place %>
(<%= link_to 'Show', place %>
<%= link_to 'Edit', edit_place_path(place) %>
<%= link_to 'Destroy', place, :confirm => 'Are you sure?', :method => :delete %>)
</dt>
<dd> 
Comment: <%= place.comment %>
</dd>
<% end %>

</dl>


<%= link_to 'New place', new_place_path %>
